.chat {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.chat-user {
  font-size: 0.7rem;
  color: var(--moderate-violet);
  font-weight: 500;
  max-width: 24ch;
  line-height: 1.4;
  background: var(--light-grayish-violet);
  padding: 10px;
  border-radius: 8px;
}
