.chat {
  display: grid;
  gap: 10px;
  padding: 15px;
  background: var(--light-grayish-violet);
}

.chat-user {
  font-size: 0.65rem;
  color: var(--moderate-violet);
  font-weight: 500;
  max-width: 24ch;
  line-height: 1.4;
  background: rgba(163, 157, 170, 0.14);
  padding: 10px;
  border-radius: 12px;
}

/*CHAT_PHOTOS*/

.chat-photos {
  justify-self: flex-end;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.chat-photos- {
  max-width: 47px;
}

.chat-photos- img {
  border-radius: 15px;
}
