.chat {
  display: grid;
  gap: 10px;
  padding: 15px;
  background: var(--light-grayish-violet);
}

.chat-user {
  font-size: 0.65rem;
  color: var(--moderate-violet);
  font-weight: 500;
  max-width: 24ch;
  line-height: 1.4;
  background: rgba(163, 157, 170, 0.1);
  padding: 10px;
  border-radius: 12px;
  transition: transform 0.4s;
}

.chat-user:hover {
  transform: translateX(5px);
}

/*CHAT_PHOTOS*/

.chat-photos {
  justify-self: flex-end;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.chat-photos- {
  max-width: 47px;
  transition: transform 0.5s;
}

.chat-photos-:hover {
  transform: scale(1.15);
}

.chat-photos- img {
  border-radius: 15px;
}

/*CHAT-CLIENT*/

.chat-client {
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  justify-self: flex-end;
  max-width: 26ch;
  line-height: 1.5;
  background: var(--white);
  padding: 10px;
  border-radius: 12px;
  transition: transform 0.5s;
}

.chat-client:hover {
  transform: translateX(-5px);
}

.chat-client:nth-child(5) {
  margin: 0 0 10px;
}

/*PRICES*/
.prices {
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  padding: 10px 16px 10px 10px;
  gap: 8px;
  border-radius: 13px 13px 13px 5px;
  background: linear-gradient(
    to right,
    var(--light-magneta),
    var(--light-violet)
  );
  color: var(--white);
  cursor: pointer;
}

.btg {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid var(--white);
  border-radius: 50%;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btg- {
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  margin-right: 0.0156px;
  transition: background 0.3s;
}

.prices:hover .btg- {
  background: #fff;
}

.prices span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.65rem;
  opacity: 85%;
}

.value {
  font-weight: 600;
  justify-content: flex-end;
}

/*SEND-MESSAGE*/
.send-msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 10px 5px 10px 18px;
  border-radius: 15px;
}

.send-msg span {
  font-size: 0.66rem;
  color: rgba(163, 157, 170, 0.6);
}

.btg-send {
  background: var(--very-dark-desaturated);
  min-height: 28px;
  min-width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
