#container-bg {
  height: 100vh;
  background: var(--light-grayish-violet);
}

#container {
  height: 100vh;
  background: var(--light-grayish-violet);
  max-width: 1440px;
}

#banner {
  background: linear-gradient(
    -140deg,
    var(--light-magneta) 0%,
    var(--light-violet) 60%
  );
  width: 500px;
  height: 90vh;
  border-radius: 0 0 250px 250px;
  transform: translateX(-70px);
  position: fixed;
  z-index: 0;
}

@media (max-width: 800px) {
  #banner {
    position: absolute;
    transform: translateX(-315px);
    height: 70vh;
  }
}

#container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 143px;
}

@media (max-width: 800px) {
  #container {
    height: auto;
  }
  #container-main {
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
  }
}
