section {
  max-width: 580px;
  padding-left: 120px;
  position: relative;
  z-index: 3;
}

h1 {
  font-size: 2.5rem;
  color: var(--very-dark-desaturated);
  margin-bottom: 30px;
}

section p {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.6;
  font-weight: 400;
}
